.overlay {
    width: 100%; 
    height: 100%; 
    top: 0 ;
    left: 0;
    z-index: 3;
    position: absolute;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero--wrapper {
    position: relative;
    top: 18%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero--title {
    font-size: 11vh;
    margin: 0;
    padding: 0;
    font-weight: 350;
    letter-spacing: 5px;
    text-align: center;
    background: linear-gradient(to right, #3272F4 0%, #CC2DD7 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    white-space: nowrap;
}

.hero--subtitle {
    font-size: 2.66vh;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
    white-space: nowrap;

}

.heroBtn {
    /* width: 20vh; 
    max-width: 160px;
    min-width: 100px;
    max-height: 50px; */
    font-family: Quicksand;
    width: 15vh;
    height: 4.33vh;
    animation: fadeIn 1s 1 ease-in;
    font-size: 1.66vh;
    font-weight: bold;
    background: black;
    color: #3272F4;
    border: 2px solid #3272F4;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    
    overflow: hidden;
}

.heroBtn:hover {
    border: 2px solid #CC2DD7;
    color: #CC2DD7
}

.hidden {
    display: none !important;
}

.lessonSelection--wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;

}

.lessonSelection {
    /* margin: 6vh 0px; */
    border: 2px solid white;
    width: 80%;

    height: 80%;
    /* max-height: 700px; */


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 1;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px; 
    overflow: hidden;

}

.lessonSelection--title {
    font-size: 6vh;
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: 4px;
    overflow: hidden;
    display: block;
    flex-shrink: 1;
    white-space: nowrap;
}

.card--container {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    /* padding: 0 50px; */
}

.card--wrapper {
    max-width: 80%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: scroll !important;
    margin: 20px 0px;
    /* scroll-snap-type: x mandatory !important; */
}

.card {
    padding: 10px;
    width: 28vh;
    height: 28vh;
    /* max-width: 300px !important; 
    max-height: 300px !important; */
    /* min-width: 190px; 
    min-height: 190px; */
    border-radius: 9px;
    transition-duration: 250ms;
    transition-property: transform;
    display: flex; 
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    border: 1px solid white;
    margin: 0 10px;
    cursor: pointer;
    background-color: black;
    /* scroll-snap-align: start; */
}

.card:hover {
    border: 2px solid #3272F4;
    transform: scale3d(1.045, 1.045, 1.045);
}

.card > h1 {
    font-size: 2.73vh !important;
    font-weight: 500;
    letter-spacing: 4px;
    font-weight: 400;
}

.card > img {
    width: 20vh; 
    /* max-width: 80%; */
    height: auto;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

/* Setting max font size to 3rem */


/* Above width of 1100px */
/* @media screen and (min-width: 1100px) {
    .lessonSelection--title {
        font-size: 3rem;
    }

    .heroBtn {
        font-size: 1.05rem;
    }
} */



/* Above height of 610px and above width of 1100px */
/* @media screen and (min-height: 610px) and (min-width: 1100px) {
    .card > h1 {
        font-size: 1.75rem;
    }
} */


/* Below width of 1100px */
/* @media screen and (max-width: 1100px) {
    .hero {
        height: 180px;
    }
} */

/* Below width of 780px */
/* @media screen and (max-width: 780px) {
    .hero {
        white-space: nowrap;
    }

} */


/* below height of 600px */
/* @media screen and (max-height: 600px) {
    .card--wrapper--wrapper,
    .card--wrapper {
        height: 60vh;
    }

    .lessonSelection {
        padding: 10px;
    }

    .heroBtn {
        width: 120px;
        height: 35px; 
        font-size: .7em;
    }
} */



/* Above height of 700px and below width of 1000px */
/* @media screen and (min-height: 700px) and (max-width: 1000px) {

    .card > h1 {
        font-size: 1.5rem;
    }

    .card {
        width: 30vh;
        height: 30vh;
    }
} */


/* Above height of 1200px */
/* @media screen and (min-height: 1200px) {
    .card > h1 {
        font-size: 1.5rem;
    }

    .hero--title {
        font-size: 7rem;
    }

    .hero--subtitle {
        font-size: 2rem;
    }
} */

/* Above height of 900px and below width of 800px */
/* @media screen and (min-height: 900px) and (max-width: 800px) {


    .hero--title {
        font-size: 4.5rem;
    }

    .hero--subtitle {
        font-size: 1.5rem;
    }
} */
