/* HOME PAGE STYLES */
.hero--wrapper {
    position: absolute; 
    top: 0 ;
    left: 0;
    height: 100%; 
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    animation: fadeIn 3s 1 ease-in;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;

}
.hero {
    position: relative;
    top: 55%;
    height: 250px;
    z-index: 2;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.hero--title {
    margin: 0;
    padding: 0;
    font-size: 7rem;
    font-weight: 350;
    letter-spacing: 3px;
    background: linear-gradient(to right, #3272F4 0%, #CC2DD7 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.hero--subtitle {
    width: 90%;
    line-height: 40px;
    text-align: center;
    color: white !important;
    font-size: 1.85rem;
}
.heroBtn {
    animation: fadeIn 1s 1 ease-in;
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 42.1%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    /* text-transform: uppercase; */
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.heroBtn > div {
    position: relative;
    width: 160px;
    height: 55px;
    margin: 0 15px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.heroBtn > div > a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -ms-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    transition: transform 0.25s;
}
.heroBtn > div > a::before, .heroBtn > div > a::after {
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 180px;
    height: 55px;
    position: absolute;
    /* border: 2px solid rgb(255, 255, 255); */
    border: 2px solid rgb(61, 135, 255);
    box-sizing: border-box;
    content: attr(title);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
}
.heroBtn > div > a::before {
    border: 2px solid rgb(61, 135, 255);
    color: rgb(61, 135, 255);

    -webkit-transform: rotateY(0deg) translateZ(25px);
    -moz-transform: rotateY(0deg) translateZ(25px);
    -ms-transform: rotateY(0deg) translateZ(25px);
    -o-transform: rotateY(0deg) translateZ(25px);
    transform: rotateY(0deg) translateZ(25px);
}
.heroBtn > div > a::after {
    color: #CC2DD7;
    border: 2px solid #CC2DD7;
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px);
}
.heroBtn > div > a:hover {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
    -moz-transform: translateZ(-25px) rotateX(-90deg);
    -ms-transform: translateZ(-25px) rotateX(-90deg);
    -o-transform: translateZ(-25px) rotateX(-90deg);
    transform: translateZ(-25px) rotateX(-90deg);
    cursor: pointer; 
}
.lessonSelection--container {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid ;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.55);
}

.lessonSelection--wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 100px;
    animation: fadeIn 1s ease-in 1 both; 

    /* border: 1px solid yellow; */
    /* justify-content: center; */
}
.lessonSelection--title {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 300;
    letter-spacing: 0.05em;
    height: 100px; 
    overflow: hidden;
    display: block;
    /* animation: fadeIn 2s ease-in 1 both;  */

    /* -webkit-text-stroke:1px white;
    -webkit-text-fill-color: black; */
}
.card--wrapper {
    width: 100%;
    height: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: fadeIn 2s ease-in 1 both;  */

    /* border: 1px solid red; */
}
.frame {
    width: 300px;
    height: 450px;
    transition: transform 200ms;
    z-index: 2;
    margin: 0 2%;
    /* animation: fadeIn 2s ease-in 1 both;  */

}
.frame:hover {
    transform: scale3d(1.06, 1.06, 1.06);
}
.card {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    position: relative;
    transition-duration: 250ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    /* animation: fadeIn 2s ease-in 1 both;  */

}
.card:hover {
    border: 1px solid #3272F4;;
}
.card > h1 {
    /* width: 100%;  */
    /* height: 20%;  */
    font-weight: 500;
    letter-spacing: 4px;

    /* border: 1px solid blue;  */
}
.card > img {
    width: 100%; 
    height: auto;
    /* border: 1px solid blue;  */
}
.card > h3 {
    position: relative; 
    font-weight: 300;
    font-size: 1rem;

/* border: 1px solid blue;  */
}

.loading--title {
    margin: 4.5rem 0 0 0;
}

.spinnerWrapper {
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinnerWrapper > h2 {
    /* font-family: 'Courier New', Courier, monospace; */
    /* margin-top: 75px !important; */
}

.spinner {
    width: 88px;
    height: 88px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}
   
.spinner > div {
background-color: rgba(0,77,255,0.2);
height: 100%;
position: absolute;
width: 100%;
border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
transform: translateZ(-44px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
transform: rotateY(-270deg) translateX(50%);
transform-origin: top right;
}

.spinner div:nth-of-type(3) {
transform: rotateY(270deg) translateX(-50%);
transform-origin: center left;
}

.spinner div:nth-of-type(4) {
transform: rotateX(90deg) translateY(-50%);
transform-origin: top center;
}

.spinner div:nth-of-type(5) {
transform: rotateX(-90deg) translateY(50%);
transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
transform: translateZ(44px);
}

@keyframes spinner-y0fdc1 {
0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
}

50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
}

100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
}
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}