/* HOME PAGE STYLES */
.overlay {
    /* position: absolute; */
    width: 100%; 
    height: 100%; 
    top: 0 ;
    left: 0;
    z-index: 3;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}

.overlay--wrapper {
    position: relative;
    top: 52%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2.5s 1 ease-in;
}
.hero--title {
    margin: 0;
    padding: 0;
    font-size: 11vh;
    font-weight: 350;
    letter-spacing: 5px;
    text-align: center;

    background: linear-gradient(to right, #3272F4 0%, #CC2DD7 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.hero--subtitle {
    width: 100%;
    /* margin: 0;  */
    line-height: 40px;
    text-align: center;
    color: white !important;
    font-size: 3vh;
}

.heroBtnWrapper {
    /* position: absolute; */
    /* width: 100%;  */
    /* z-index: 2; */
    /* display: flex; */
    /* justify-content: center; */
    /* top: 80%; */
}

.heroBtn {
    animation: fadeIn 1s 1 ease-in;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 10px;
}
.heroBtn > div {
    position: relative;
    width: 160px;
    height: 50px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.heroBtn > div > a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -ms-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    transition: transform 0.25s;
}
.heroBtn > div > a::before, 
.heroBtn > div > a::after {
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 160px;
    height: 50px;
    position: absolute;
    /* border: 2px solid rgb(255, 255, 255); */
    border: 2px solid rgb(61, 135, 255);
    box-sizing: border-box;
    content: attr(title);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
}
.heroBtn > div > a::before {
    border: 2px solid rgb(61, 135, 255);
    color: rgb(61, 135, 255);

    -webkit-transform: rotateY(0deg) translateZ(25px);
    -moz-transform: rotateY(0deg) translateZ(25px);
    -ms-transform: rotateY(0deg) translateZ(25px);
    -o-transform: rotateY(0deg) translateZ(25px);
    transform: rotateY(0deg) translateZ(25px);
}
.heroBtn > div > a::after {
    color: #CC2DD7;
    border: 2px solid #CC2DD7;
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px);
}
.heroBtn > div > a:hover {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
    -moz-transform: translateZ(-25px) rotateX(-90deg);
    -ms-transform: translateZ(-25px) rotateX(-90deg);
    -o-transform: translateZ(-25px) rotateX(-90deg);
    transform: translateZ(-25px) rotateX(-90deg);
    cursor: pointer; 
}


.lessonSelection--wrapper {
    /* position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0; */
    /* padding-top: 8vh; */
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    animation: fadeIn .5s ease-in 1 both; 
    font-family: 'Courier New', Courier, monospace !important;
    /* border: 1px solid yellow;  */
}

.lessonSelection {
    /* margin: 6vh 0px; */
    width: 90%;
    height: 90%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    padding: 25px 0px;
    background-color: rgba(0, 0, 0, .66);
    backdrop-filter: blur(100px);
    border-radius: 10px; 
    border: 1px solid white;
    /* overflow: scroll; */
    z-index: 10;

}


.lessonSelection--title {
    margin: 0;
    padding: 0;
    font-size: 4.5vw;
    font-weight: 300;
    letter-spacing: 0.05em;
    /* height: 100px;  */
    overflow: hidden;
    display: block;
    flex-shrink: 1;

    /* animation: fadeIn 2s ease-in 1 both;  */
    /* -webkit-text-stroke:1px white;
    -webkit-text-fill-color: black; */
}


.card--wrapper--wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;

    /* border: 1px solid red; */
}

.card--wrapper--wrapper > button {
    background: transparent;
    border: 1px solid #3272F4;
    color: #3272F4;
    width: 30px; 
    height: 30px;
    margin: 0 20px;
    cursor: pointer;

}

.card--wrapper--wrapper > button:hover {
    transform: scale(1.1);
}

.card--wrapper {
    width: 100%;
    height: 400px;
    /* padding-left: 50px; */
    z-index: 1;
    justify-content: center;

    display: flex !important; 
    align-items: center;
    overflow: scroll !important;

    /* border: 1px solid blue; */

    /* scroll-snap-type: x mandatory !important; */
}
.frame {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 165px; 
    min-height: 165px;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 1;
    scroll-snap-align: start;
    /* animation: fadeIn 2s ease-in 1 both;  */
}

.card {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 165px; 
    min-height: 165px;
    border-radius: 9px;
    position: relative;
    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: ease-out;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    border: 1px solid white;
    flex-shrink: 1;

    /* animation: fadeIn 2s ease-in 1 both;  */

}
.card:hover {
    border: 1px solid #3272F4;
    transform: scale3d(1.03, 1.03, 1.03);

}
.card > h1 {
    /* width: 100%;  */
    /* height: 20%;  */
    font-size: 2.3vw;
    font-weight: 500;
    letter-spacing: 4px;

    /* border: 1px solid blue;  */
}
.card > img {
    width: 20vw; 
    max-width: 80%;
    height: auto;
    /* border: 1px solid blue;  */
}
.card > h3 {
    position: relative; 
    font-weight: 300;
    font-size: 1rem;
    padding: 10px;

/* border: 1px solid blue;  */
}

.loading--title {
    margin: 4.5rem 0 0 0;
}

.spinnerWrapper {
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinnerWrapper > h2 {
    /* font-family: 'Courier New', Courier, monospace; */
    /* margin-top: 75px !important; */
}

.spinner {
    width: 88px;
    height: 88px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}
   
.spinner > div {
background-color: rgba(0,77,255,0.2);
height: 100%;
position: absolute;
width: 100%;
border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
transform: translateZ(-44px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
transform: rotateY(-270deg) translateX(50%);
transform-origin: top right;
}

.spinner div:nth-of-type(3) {
transform: rotateY(270deg) translateX(-50%);
transform-origin: center left;
}

.spinner div:nth-of-type(4) {
transform: rotateX(90deg) translateY(-50%);
transform-origin: top center;
}

.spinner div:nth-of-type(5) {
transform: rotateX(-90deg) translateY(50%);
transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
transform: translateZ(44px);
}

@keyframes spinner-y0fdc1 {
0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
}

50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
}

100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
}
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

/* Setting max font size to 3rem */
@media screen and (min-width: 1100px) {
    .lessonSelection--title {
        font-size: 3rem;
    }
    .card > h1 {
        font-size: 2rem;
    }
}



@media screen and (max-width: 1100px) {

    .hero {
        height: 180px;
    }

    /* .hero--title {
        font-size: 6rem;
    }
    .hero--subtitle {
        font-size: 1.5rem;
    } */

    .heroBtn > div > a::before, 
    .heroBtn > div > a::after {
        width: 160px;
        height: 50px;
    }

    /* .lessonSelection--title {
        font-size: 2rem;
    } */

    .frame {
        /* width: 250px; */
    }


    .card--wrapper--wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 780px) {
    .hero {
        white-space: nowrap;
    }
    /* .hero--title {
        font-size: 4.5rem;
        
    }
    .hero--subtitle {
        font-size: 1.25rem;
    } */

    /* .heroBtn > div > a::before, 
    .heroBtn > div > a::after {
        width: 140px;
        height: 50px;
    } */

}

@media screen and (max-height: 600px) {
    .card--wrapper--wrapper,
    .card--wrapper {
        height: 300px;
    }
    .lessonSelection {
        padding: 10px;
    }
}