.overlay {
    width: 100%; 
    height: 100%; 
    top: 0 ;
    left: 0;
    z-index: 3;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: fadeIn 2s 1 ease-in; */
}

.hero--wrapper {
    position: relative;
    top: 15%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.hero--title {
    /* position: relative;
    top: 54%; */
    margin: 0;
    padding: 0;
    font-size: 10vh;
    font-weight: 350;
    letter-spacing: 5px;
    text-align: center;

    background: linear-gradient(to right, #3272F4 0%, #CC2DD7 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.hero--subtitle {
    /* position: relative;
    top: 53%; */
    width: 100%;
    /* margin: 0;  */
    line-height: 40px;
    text-align: center;
    color: white !important;
    font-size: 3vh;
}

/* 
.heroBtn {
    animation: fadeIn 1s 1 ease-in;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 10px;
}
.heroBtn > div {
    position: relative;
    width: 160px;
    height: 50px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.heroBtn > div > a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -ms-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    transition: transform 0.25s;
}
.heroBtn > div > a::before, 
.heroBtn > div > a::after {
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 160px;
    height: 50px;
    position: absolute;
    border: 2px solid rgb(61, 135, 255);
    box-sizing: border-box;
    content: attr(title);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
}
.heroBtn > div > a::before {
    border: 2px solid rgb(61, 135, 255);
    color: rgb(61, 135, 255);

    -webkit-transform: rotateY(0deg) translateZ(25px);
    -moz-transform: rotateY(0deg) translateZ(25px);
    -ms-transform: rotateY(0deg) translateZ(25px);
    -o-transform: rotateY(0deg) translateZ(25px);
    transform: rotateY(0deg) translateZ(25px);
}
.heroBtn > div > a::after {
    color: #CC2DD7;
    border: 2px solid #CC2DD7;
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px);
}
.heroBtn > div > a:hover {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
    -moz-transform: translateZ(-25px) rotateX(-90deg);
    -ms-transform: translateZ(-25px) rotateX(-90deg);
    -o-transform: translateZ(-25px) rotateX(-90deg);
    transform: translateZ(-25px) rotateX(-90deg);
    cursor: pointer; 
} */



.heroBtn {
    /* width: 20vh; 
    max-width: 160px;
    min-width: 100px;
    max-height: 50px; */
    width: 150px;
    height: 45px;
    animation: fadeIn 1s 1 ease-in;
    font-size: .8em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #3272F4;
    border: 1px solid #3272F4;
    cursor: pointer;
    padding: 10px;
    /* position: absolute;
    top: 75%;  */
}

/* .heroBtn:hover {
    border: 1px solid #CC2DD7;
    color: #CC2DD7
} */




.hidden {
    display: none !important;
}





.lessonSelection--wrapper {
    position: absolute;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0; */
    /* padding-top: 8vh; */
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    /* animation: fadeIn .5s ease-in 1 both;  */
    font-family: 'Courier New', Courier, monospace !important;
    /* border: 1px solid yellow;  */
    /* display: none; */

}

.lessonSelection {
    /* margin: 6vh 0px; */
    width: 90%;
    height: 90%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    padding: 25px 0px;
    background-color: rgba(0, 0, 0, .66);
    backdrop-filter: blur(100px);
    border-radius: 10px; 
    border: 1px solid white;
    /* overflow: scroll; */
    /* z-index: 2; */
    /* display: none; */


}


.lessonSelection--title {
    margin: 0;
    padding: 0;
    font-size: 4.5vw;
    font-weight: 300;
    letter-spacing: 0.05em;
    /* height: 100px;  */
    overflow: hidden;
    display: block;
    flex-shrink: 1;

    /* animation: fadeIn 2s ease-in 1 both;  */
    /* -webkit-text-stroke:1px white;
    -webkit-text-fill-color: black; */
}


.card--wrapper--wrapper {
    width: 100%;
    height: 400px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding: 0px 50px;
}

.card--wrapper--wrapper > button {
    background: transparent;
    border: 1px solid #3272F4;
    color: #3272F4;
    width: 30px; 
    height: 30px;
    margin: 0 20px;
    cursor: pointer;

}

.card--wrapper--wrapper > button:hover {
    transform: scale(1.1);
}

.card--wrapper {
    width: 300px;
    height: 400px;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: scroll !important;
    /* border: 1px solid blue; */
    scroll-snap-type: x mandatory !important;
}


.card {
    width: 25vw;
    height: 25vw;
    max-width: 280px;
    max-height: 280px;
    min-width: 190px; 
    min-height: 190px;
    border-radius: 9px;
    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: ease-out;
    display: flex; 
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    border: 1px solid white;
    margin: 0 10px;

    /* animation: fadeIn 2s ease-in 1 both;  */
    scroll-snap-align: start;

}
/* .card:hover {
    border: 1px solid #3272F4;
    transform: scale3d(1.03, 1.03, 1.03);

} */
.card > h1 {
    /* width: 100%;  */
    /* height: 20%;  */
    font-size: 3vh;
    font-weight: 500;
    letter-spacing: 4px;

    /* border: 1px solid blue;  */
}


.card > img {
    width: 20vw; 
    max-width: 80%;
    height: auto;
    /* border: 1px solid blue;  */
}


.loading--title {
    font-size: 2.25rem;
    margin: 4.5rem 0 0 0;
}

.spinnerWrapper {
    width: 100%; 
    height: 100%; 
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
}

.spinner {
    width: 88px;
    height: 88px;
    animation: spinner 2s infinite ease;
    transform-style: preserve-3d;
}
   
.spinner > div {
background-color: rgba(0,77,255,0.2);
height: 100%;
position: absolute;
width: 100%;
border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
transform: translateZ(-44px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
transform: rotateY(-270deg) translateX(50%);
transform-origin: top right;
}

.spinner div:nth-of-type(3) {
transform: rotateY(270deg) translateX(-50%);
transform-origin: center left;
}

.spinner div:nth-of-type(4) {
transform: rotateX(90deg) translateY(-50%);
transform-origin: top center;
}

.spinner div:nth-of-type(5) {
transform: rotateX(-90deg) translateY(50%);
transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
transform: translateZ(44px);
}

@keyframes spinner {
0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
}

50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
}

100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
}
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

/* Setting max font size to 3rem */
@media screen and (min-width: 1100px) {
    .lessonSelection--title {
        font-size: 3rem;
    }

    .heroBtn {
        font-size: 1rem;
    }
}

@media screen and (min-height: 610px) and (min-width: 1100px) {
    .card > h1 {
        font-size: 1.75rem;
    }
}













@media screen and (max-width: 1100px) {
    .hero {
        height: 180px;
    }
}






@media screen and (max-width: 780px) {
    .hero {
        white-space: nowrap;
    }

}





@media screen and (max-height: 600px) {
    .card--wrapper--wrapper,
    .card--wrapper {
        height: 60vh;
    }

    .lessonSelection {
        padding: 10px;
    }

    .heroBtn {
        width: 120px;
        height: 35px; 
        font-size: .7em;
    }

    .card {
        width: 19vw;
        height: 19vw;
    }
}


@media screen and (min-height: 700px) and (max-width: 1000px) {

    .card > h1 {
        font-size: 1.5rem;
    }

    .card {
        width: 30vw;
        height: 30vw;
    }
}

@media screen and (min-height: 1200px) {
    .card > h1 {
        font-size: 1.5rem;
    }

    .hero--title {
        font-size: 7rem;
    }

    .hero--subtitle {
        font-size: 2rem;
    }
}

@media screen and (min-height: 900px) and (max-width: 800px) {


    .hero--title {
        font-size: 4.5rem;
    }

    .hero--subtitle {
        font-size: 1.5rem;
    }
}
