/* LESSON 1 */
.title--wrapper {
  width: 100%; 
  position: absolute; 
  background: transparent;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.title {
  /* font-family: Quicksand-bold; */
  color: #f07167;
  font-size: 60px;
  animation: slideUp 2s 1 both; 
  animation-delay: 1.5s;
  margin-top: 1.5%;
  z-index: 2;
  /* position: absolute; */
}

.text--wrapper 
{
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;

  /* border: 10px solid yellow;  */
}

.text--wrapper > p 
{
  width: 85%;
  font-size: 1.5vw;
  text-align: center;
  line-height: 45px;
  animation: fadeIn 2s 1 ease-in-out;
}

.text--wrapper2
{
  font-family: monospace;
  /* position: absolute; */
  padding: 20px;
  /* top: 10%;
  left: 8%; */
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  animation: slideUp 2s 1 both; 
  animation-delay: .5s;
  margin-left: 35px;
  padding-right: 40px;
  border-right: 3px solid white;
}

.text--wrapper2 > p 
{
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  line-height: 45px;
  overflow: scroll;

  /* animation: slideUp 2s 1 both; 
  animation-delay: .5s; */
  /* border: 1px solid blue; */
}

span 
{
  color: #f07167;
  /* font-family: Quicksand-bold; */
}
