.wrapper {
  width: 100%;
  height: 100%;
  background: black;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}



.container {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(5, minmax(60px, 110px));
  grid-template-rows: repeat(3, minmax(60px, 110px));
  grid-gap: 25px;
  /* background: blue;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05); */
  will-change: width, height;
  color: #3272F4;
  border: 2px solid #3272F4;
  cursor: pointer;
  padding: 25px;
  border-radius: 10px;
  white-space: nowrap;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.item {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  will-change: transform, opacity;
  justify-self: center;
  z-index: 2;
}

.test {
  width: 110px; 
  height: 110px; 
  background-size: cover;
  background-position: center;
  z-index: 3;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* p {
  color: black;
  font-size: 14px;
  margin: 0; 
} */

p {
  color: black;
  font-size: 20px;
  margin: 0; 
  position: absolute;
  /* display: inline; */
  z-index: 2;
  opacity: 0;
}