/* @import url("https://rsms.me/inter/inter.css"); */
@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand-Regular.ttf);
}


* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;

}

.stats {
  position: absolute; 
  z-index: 10; 
}

body {
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #ddd;
  font-family: Quicksand, 'Courier New', Courier, monospace;
  /* font-family: 'Courier New', Courier, monospace !important; */
  /* font-family: Arial, Helvetica, sans-serif !important; */
  /* font-family: "Inter var", sans-serif !important; */
}

a {
  pointer-events: all;
  color: #ddd;
  text-decoration: none;
}

svg {
  fill: #ddd;
}


/* COMPONENT STYLES */

/* LessonNav */
.lessonNav {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2.5%;
  z-index: 3;
}

.lessonNav > button 
{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: transparent;
  border: 1.5px solid white;
}

.lesson--incrementBtn {
  box-shadow: 0 0 10px 4px white;
  transform: scale(1.25);
  animation: grow-and-glow 4s infinite;
  cursor: pointer;
}

.lesson--decrementBtn {
  cursor: pointer;
}

.lesson--decrementBtn:hover {
  transform: scale(1.1);
}

.startLessonBtn--wrapper {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 87%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.startLessonBtn {
  width: 150px;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  font-family: Quicksand;
  background: black;
  color: white; 
  border: 2px solid white;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
}

.startLessonBtn:hover {
  color: #f07167;
  border: 2px solid #f07167;
}


.sectionCounter {
  position: absolute; 
  z-index: 4;
  top: 30; 
  left: 25;
}

/* HomeNav */
.homeNav--wrapper {
  position: absolute;
  top: 0;
  padding: 10px 30px;
  width: 100%; 
  height: 50px;
  display: flex; 
  justify-content: space-between;
  z-index: 3;
}

.homeBtn {
  list-style: none;
  background: transparent;
}

.backBtn { 
  list-style: none;
  background: transparent;
}

.backBtn:hover {
  transform: scale(1.2)
}

.homeBtn--icon {  
  font-size: 1.5rem;  
  text-decoration: none;  
  width: 3rem;
  height: 3rem;   
  transition: .5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.homeIcon:hover {  
  transform: scale(1.2)
}

.fullerene-redirect {
  width: 170px; 
  height: 40px; 
  background: black;
  color: #f07167;
  border: 1px solid #f07167;
  border-radius: 10px;
  cursor: pointer;
  animation: fadeIn 2s 1 ease-in-out;
}



/* Loaders and Spinners */
.loading--title {
  font-size: 2.25rem;
  margin: 4.5rem 0 0 0;
  letter-spacing: 2px;
}

.spinnerWrapper {
  width: 100%; 
  height: 100%; 
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}

.spinner {
  width: 80px;
  height: 80px;
  animation: spinner 2s infinite ease;
  transform-style: preserve-3d;
}
 
.spinner > div {
background-color: rgba(0,77,255,0.2);
height: 100%;
position: absolute;
width: 100%;
border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
transform: translateZ(-40px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
transform: rotateY(-270deg) translateX(50%);
transform-origin: top right;
}

.spinner div:nth-of-type(3) {
transform: rotateY(270deg) translateX(-50%);
transform-origin: center left;
}

.spinner div:nth-of-type(4) {
transform: rotateX(90deg) translateY(-50%);
transform-origin: top center;
}

.spinner div:nth-of-type(5) {
transform: rotateX(-90deg) translateY(50%);
transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
transform: translateZ(40px);
}

@keyframes spinner {
0% {
  transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
}

50% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
}

100% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
}
}

@keyframes grow-and-glow {
  0% {
    box-shadow: 0 0 0px 0px white;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 10px 4px white;
    transform: scale(1.25);
  }

  100% {
    box-shadow: 0 0 0px 0px white;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes slideUp {
    from
    {
        opacity: 0;
        transform: translate3d(0, 50px, 0)
    }
    to
    {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes homeBtn {
  0%
  {
    color: white;
  }
  50%
  {
    color: #3272F4;
  }
  100%
  {
    color: white;
  }
}



/* LessonText Styles */
.title--wrapper {
  width: 100%; 
  position: absolute; 
  top: 0;
  background: transparent;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.title {
  color: #f07167;
  font-size: 60px;
  /* animation: slideUp 2s 1 both; 
  animation-delay: .5s; */
  margin: 0;
  padding: 10px;
  z-index: 2;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: 'Courier New', Courier, monospace !important;
}

.global-text-wrapper {
  position: absolute;
  top: 0; 
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.text--wrapper {
  /* position: absolute;
  top: 10%; */
  /* left: 0; */
  /* height: 80%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 2;
}

.text--wrapper > p {
  width: 80%;
  font-size: 1.9vw !important;
  text-align: center;
  animation: fadeIn 2s 1 ease-in-out;
}

.text--wrapper2 {
  /* font-family: 'Courier New', Courier, monospace; */
  /* position: absolute; */
  padding: 20px 10px;
  margin-left: 10%;
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding-right: 40px;
  border-right: 3px solid white;
}

.text--wrapper2--p {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
  line-height: 45px;
  overflow: scroll;
  /* animation: slideUp 2s 1 both; 
  animation-delay: .5s; */
}

span 
{
  color: #f07167;
}

.scrolldown--wrapper {
  position: absolute;
  top: 80%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px;
  /* border: 1px solid red; */
}

.scrolldown {
  width: 50px; 
  height: 50px;
  --color: white;
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
}

.chevrons {
  margin-top: 10px; 
  margin-left: 12.5px;
  width: 22.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse 1000ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse 1000ms ease infinite alternate 500ms;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}


@media screen and (min-width: 1400px) {

  .text--wrapper > p {
    font-size: 1.5vw !important;
  }
  
}