/* @import url("https://rsms.me/inter/inter.css"); */

/* Global Styles */
* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.stats{
  position: absolute; 
  z-index: 10; 
}

body {
  overscroll-behavior-y: none;
  font-family: 'Courier New', Courier, monospace !important;
  /* font-family: "Inter var", sans-serif !important; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #ddd;
  /* background: black; */
}

a {
  pointer-events: all;
  color: #ddd;
  text-decoration: none;
}

svg {
  fill: #ddd;
}




/* COMPONENT STYLES */

/* LessonNav Styles */
.lessonNav {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2.5%;
  z-index: 3;
}

.lessonNav > button 
{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: transparent;
  border: 1.5px solid white;
}

.lesson--incrementBtn {
  box-shadow: 0 0 10px 4px white;
  transform: scale(1.25);
  animation: grow-and-glow 4s infinite;
}

.lesson--decrementBtn:hover {
  box-shadow: 0 0 10px 2px white;
  transform: scale(1.2);
}

.startLessonBtn--wrapper {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 88%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.startLessonBtn {
  position: absolute;
  z-index: 3;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.startLessonBtn > div {
  position: relative;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.startLessonBtn > div > a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}
.startLessonBtn > div > a::before, .startLessonBtn > div > a::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 180px;
  height: 55px;
  position: absolute;
  /* border: 2px solid rgb(61, 135, 255); */
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
}
.startLessonBtn > div > a::before {
  border: 2px solid rgb(255, 255, 255);
  background-color: #000;
  color: 2px solid rgb(255, 255, 255);
  /* color: rgb(61, 135, 255); */
  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}
.startLessonBtn > div > a::after {
  background-color: black;
  border: 2px solid #f07167;
  color: #f07167;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
.startLessonBtn > div > a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);
  transform: translateZ(-25px) rotateX(-90deg);
  cursor: pointer; 
}

.sectionCounter {
  position: absolute; 
  z-index: 4;
  top: 30; 
  left: 25;
  /* border: 1px solid red; */
}











/* HomeNav Styles */
.homeBtn--wrapper {
  position: absolute;
  padding: 10px 30px;
  width: 100%; 
  height: 50px;
  display: flex; 
  justify-content: space-between;
  /* top: 15px; */
  /* right: 20px; */
  z-index: 2;

  /* border: 1px solid red; */
}

.homeBtn {
  list-style: none;
  background: transparent;
}

.backBtn { 
  list-style: none;
  background: transparent;
}

.backBtn:hover {
  transform: scale(1.2)
}

.homeBtn--icon {  
  font-size: 1.5rem;  
  text-decoration: none;  
  width: 3rem;
  height: 3rem;   
  transition: .5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.homeIcon:hover {  
  transform: scale(1.2)
}


/*
.homeBtn--icon i {
  margin: auto;  
  z-index: 20;  
  transform: scale(.4);
}
 
.homeBtn--icon::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 50%;
  background: #3272F4 ;
  z-index: 2;
  transform: scale(.8);
  transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}
  
.homeBtn--icon:hover::before {  
  transform: scale(1.5);
}


.homeBtn a:hover:before { 
  animation: homeBtn 5s ease-out 10 both; 

} */


@keyframes grow-and-glow {
  0% {
    box-shadow: 0 0 0px 0px white;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 10px 4px white;
    transform: scale(1.35);
  }

  100% {
    box-shadow: 0 0 0px 0px white;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes slideUp {
    from
    {
        opacity: 0;
        transform: translate3d(0, 50px, 0)
    }
    to
    {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes homeBtn {
  0%
  {
    color: white;
  }
  50%
  {
    color: #3272F4;
  }
  100%
  {
    color: white;
  }
}
@keyframes lessonSelection--animation {
  from {
    transform: translateX(-35em);
  }
  to {
    transform: translateX(0em);
  }
}